{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home | Eng@ge!{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./">Eng@ge!</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{ url_for('register') }}">Sign Up</a></li>
					<li class=""><a href="#login" data-toggle="modal" data-keyboard="false">Login</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
{% endblock %}

{% block content %}

<div class="modal fade" id="login">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Log in to Eng@ge!</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
						<div class="text-center">
							<h3>
								<a href="./">ENG@GE!</a>
							</h3>
						</div>
						<form action="{{ url_for('login') }}" method="POST">
							{{ form.csrf_token }}
							{{ wtf.quick_form(form) }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}